environment: "platform"
flux_folder: "production"
cluster_type: "production"
subscription_shortname: "s940"
location: "northeurope"
secondary_location: "westeurope"
developers: ["0e0d22c6-9f03-48a5-89be-be7b060c8a32"] # AZ PIM OMNIA RADIX Cluster Admin - prod
zoneconfig:
  RADIX_API_REQUIRE_APP_CONFIGURATION_ITEM: "true"
  RADIX_API_REQUIRE_APP_AD_GROUPS: "true"
  APP_REGISTRATION_NETWORKPOLICY_CANARY: "ar-radix-networkpolicy-canary"
  
backend:
  resource_group_name: "s940-tfstate"
  storage_account_name: "s940radixinfra"
  container_name: "infrastructure"
  subscription_id: "ded7ca41-37c8-4085-862f-b11d21ab341a"
  tenant_id: "3aa4a235-b6e2-48d5-9195-7fcf05b459b0"
  ip_key_vault_id: "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/common-platform/providers/Microsoft.KeyVault/vaults/radix-keyv-platform"
  terraform_storage_id: "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/s940-tfstate/providers/Microsoft.Storage/storageAccounts/s940radixinfra"
networksets:
  networkset1:
    vnet: "10.8.0.0"
    ingressIP: "20.223.122.1"
    gatewayPIP: "pip-ingress-radix-aks-production-northeurope-003"
    egress:
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-001"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-002"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-003"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-004"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-005"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-006"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-007"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-production-northeurope-008"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-001"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-002"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-003"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-004"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-005"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-006"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-007"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-008"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-009"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-010"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-011"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-012"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-013"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-014"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-015"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-016"
  networkset2:
    vnet: "10.9.0.0"
    ingressIP:  "20.223.115.58"
    gatewayPIP: "pip-ingress-radix-aks-platform-northeurope-003"
    egress:
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-017"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-018"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-019"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-020"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-021"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-022"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-023"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-024"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-025"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-026"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-027"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-028"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-029"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-030"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-031"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-032"
  networkset3:
    vnet: "10.10.0.0"
    ingressIP:  "20.223.115.57"
    gatewayPIP: "pip-ingress-radix-aks-platform-northeurope-004"
    egress:
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-033"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-034"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-035"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-036"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-037"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-038"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-039"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-040"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-041"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-042"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-043"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-044"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-045"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-046"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-047"
      - "/subscriptions/ded7ca41-37c8-4085-862f-b11d21ab341a/resourceGroups/clusters-platform/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-platform-northeurope-048"
clusters:
  eu-18:
    aksversion: "1.32.5"
    networkset: "networkset1"
    network_policy: "calico"
    dns_wildcard: nginx # Options: "nginx" or "istio"
    activecluster: true
