<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ '/index.css' | relative_url }}">
  <title>
    {% if page.useFullTitle %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
      {% if page.title %} — {{ page.title }}{% endif %}
    {% endif %}
  </title>
</head>

<body class="o-layout-page">
  {% include header.html %}
  <div class="o-layout-page__body">
    <div class="o-layout-container">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}

  {% comment %}
    The line below is needed to avoid transitions firing on page load
    See https://stackoverflow.com/questions/14389566/stop-css3-transition-from-firing-on-page-load
  {% endcomment %}
  <script> </script>
</body>

</html>
