.highlighter-rouge > .highlight {
  border-bottom: 5px solid var(--color-brand-contrast-active);
  border-radius: 0 0 20px 20px;
}

.highlighter-rouge > .highlight pre {
  border-bottom: none;
  border-radius: 0;
  line-height: 1.25;
  overflow: auto;
  padding: 1rem;
}

.highlighter-rouge > .highlight code {
  background-color: transparent;
  padding: 0;
}
