
.c-dropdown-menu {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-dropdown-menu__label {
  background-color: var(--color-action);
  border-bottom: 2px solid var(--color-brand-contrast);
  border-radius: 1rem;
  color: var(--color-brand-contrast);
  cursor: pointer;
  padding: 0.4rem 1rem 0.3rem 1rem;
  transition: all var(--duration-medium) var(--duration-quick);
  white-space: nowrap;
  z-index: 2;
}

.c-dropdown-menu__label:focus {
  outline: none;
  text-decoration: underline;
}

.c-dropdown-menu__togglee {
  background-color: #fff;
  border-bottom: 2px solid var(--color-brand-contrast);
  border-radius: 1rem;
  box-shadow: var(--shadow-level-2);
  color: var(--color-text);
  font-family: var(--base-font-family);
  font-weight: normal;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: -2rem;
  transition:
    opacity var(--duration-medium) ease var(--duration-quick),
    visibility 0s linear calc(var(--duration-medium) + var(--duration-quick));
  top: calc(2rem - 2px);
  visibility: hidden;
  width: 24rem;
  z-index: 3;
}

.c-dropdown-menu::before {
  background-color: #000;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition:
    opacity var(--duration-medium) var(--duration-quick),
    visibility 0s linear calc(var(--duration-medium) + var(--duration-quick));
  visibility: hidden;
  z-index: 1;
}

.c-dropdown-menu:hover .c-dropdown-menu__label,
.c-dropdown-menu:focus-within .c-dropdown-menu__label {
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  border-bottom-color: transparent;
}

.c-dropdown-menu:hover .c-dropdown-menu__togglee,
.c-dropdown-menu:focus-within .c-dropdown-menu__togglee {
  pointer-events: auto;
  opacity: 1;
  transition:
    opacity var(--duration-medium) ease var(--duration-quick),
    visibility 0s linear 0s;
  visibility: visible;
}

.c-dropdown-menu:hover::before,
.c-dropdown-menu:focus-within::before {
  opacity: .2;
  transition:
    opacity var(--duration-medium) ease var(--duration-quick),
    visibility 0s linear 0s;
  visibility: visible;
}

.c-dropdown-menu__togglee > li:nth-child(n+2) {
  border-top: 1px solid var(--color-control-outline);
}

.c-dropdown-menu__togglee > li > a {
  display: block;
  transition: all var(--duration-quick);
}

.c-dropdown-menu__togglee > li > a:focus,
.c-dropdown-menu__togglee > li > a:hover {
  color: var(--color-brand-contrast);
  background-color: var(--color-action);
  text-decoration: none;
}

.c-dropdown-menu__item {
  align-items: center;
}

.c-dropdown-menu__item-icon > svg {
  width: 4rem;
}

.c-dropdown-menu__item-title {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.c-dropdown-menu__item-details {
  color: var(--color-text);
  font-size: .875rem;
  margin-top: .5rem;
  opacity: .8;
}

@media (max-width: 36rem) {
  .c-dropdown-menu__togglee {
    left: 1rem;
    margin-top: calc(2rem - 2px);
    position: fixed;
    right: 1rem;
    top: auto;
    width: auto;
  }
}
