/**
 * @extends o-media
 */
.c-hero {
  background: #fff;
  border-bottom: 15px solid var(--color-brand-contrast);
  border-radius: 0 0 30px 30px;
  box-shadow: var(--shadow-level-2);
  margin: 10vw 2rem 0 2rem;
  padding-top: 3rem;
}

.c-hero img {
  max-width: 14rem;
  min-width: 8rem;
  width: 16vw;
}

.c-hero__body {
  display: grid;
  flex-basis: 0;
  grid-auto-flow: column;
  grid-gap: 0 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

.c-hero__body h1 {
  color: var(--color-brand-contrast);
  font-size: calc(1.6rem + 28 * ((100vw - 320px) / 1300));
  font-weight: 500;
  grid-column: 1 / span 3;
  margin: 0.125em 0 0.25em 0;
}

.c-hero__body h2 {
  font-size: 1.2rem;
  grid-row: 2;
}

.c-hero__body p {
  margin: 0 0 1rem 0;
}

.c-hero__body hr {
  border: none;
  margin: 1.5rem 0;
  grid-row: 4;
  grid-column: 1 / span 3;
}

.c-hero__body hr ~ p {
  display: block;
  grid-column: 1 / span 3;
  grid-row: 5;
}

.c-hero__body hr ~ p + p {
  grid-row: 6;
}

.c-hero__body hr ~ p + p + p {
  grid-row: 7;
}

@media (max-width: 45rem) {
  .c-hero {
    flex-wrap: wrap;
    text-align: center;
  }

  .c-hero__img {
    margin-right: 0;
    width: 100%;
  }

  .c-hero__body {
    display: block;
  }
}
