.c-header {
  background-color: #fff;
  box-shadow: var(--shadow-level-1);
  padding: 10px 0;
}

.c-header > nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.c-header__logo {
  margin-right: 1rem;
}

@media (max-width: 36rem) {
  .c-header > nav {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .c-header__logo {
    margin-right: 0;
  }
}
