.c-footer {
  background-color: var(--color-brand-contrast);
  color: var(--color-brand-contrast-invert);
  font-size: .8rem;
  padding: 40px 0 20px 0;
  line-height: 1.25;
}

// TODO: don't do this

.c-footer code {
  font-size: inherit;
  padding: 0;
}

.c-footer li::before {
  content: '— ';
}
