.c-global-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--heading-font-family);
  font-weight: 700;
  justify-content: center;
  margin-top: -1rem;
}

.c-global-nav > li {
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  margin-left: 1em;
  margin-top: 1rem;
  padding: 7px 10px 5px 10px;
}

.c-global-nav > li:first-child {
  margin-left: 0;
}

.c-global-nav > li.active {
  border-bottom-color: var(--color-brand-active);
}

.c-global-nav > li.featured {
  padding-bottom: 0;
  padding-top: 0;
}

@media (max-width: 36rem) {
  .c-global-nav {
    margin-top: 1rem;
  }

  .c-global-nav > li {
    margin-left: 0;
  }
}
