/**
 * @extends o-media
 */
.c-hero {
  background: #fff;
  border-bottom: 15px solid var(--color-brand-contrast);
  border-radius: 0 0 30px 30px;
  box-shadow: var(--shadow-level-2);
  margin: calc(5vh + 5vw) 2rem 0 2rem;
  padding: 3rem 3rem 2rem 1rem;
}

.c-hero img {
  max-width: 14rem;
  min-width: 8rem;
  width: 16vw;
}

.c-hero__body {
  display: grid;
  flex-basis: 0;
  grid-auto-flow: column;
  grid-gap: 0 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

.c-hero__body h1 {
  color: var(--color-brand-contrast);
  font-size: calc(1.6rem + 28 * ((100vw - 320px) / 1300));
  font-weight: 500;
  grid-column: 1 / span 3;
  margin: 0.125em 0 0.25em 0;
}

.c-hero__body h2 {
  font-size: 1.2rem;
  grid-row: 2;
}

.c-hero__body p {
  line-height: 1.75;
  margin: 0 0 1rem 0;
  max-width: 38rem;
}

.c-hero__body hr {
  border: none;
  border-bottom: 4px solid var(--color-brand-contrast);
  border-radius: 0 0 15px 15px;
  height: 16px;
  margin: 1rem 0 2rem 0;
  grid-row: 4;
  grid-column: 1 / span 3;
}

.c-hero__body hr ~ p {
  display: block;
  grid-column: 1 / span 3;
  grid-row: 5;
}

.c-hero__body hr ~ p + p {
  grid-row: 6;
}

.c-hero__body hr ~ p + p + p {
  grid-row: 7;
}

.c-hero__body hr ~ p a {
  background-color: var(--color-brand-active);
  border-bottom: 4px solid var(--color-brand);
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: .6rem 2rem .5rem 2rem;
}

.c-hero__body hr ~ p a:last-of-type {
  margin-right: 0;
}


@media (max-width: 27rem) {
  .c-hero__body hr ~ p a {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 45rem) {
  .c-hero {
    flex-wrap: wrap;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
  }

  .c-hero__img {
    margin-right: 0;
    width: 100%;
  }

  .c-hero__body {
    display: block;
  }
}
