h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  font-weight: 700;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1.5em 0 .75em 0;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: .875rem;
  font-weight: 700;
  opacity: .75;
}
