kbd {
  background-color: var(--color-background);
  background-image: radial-gradient(
    ellipse at top,
    rgba(255, 255, 255, .65) 0%,
    rgba(0, 0, 0, .075) 100%
  );
  border: 1px solid var(--color-border);
  border-radius: .225em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
  color: var(--color-brand-contrast);
  display: inline-block;
  font-family: monospace;
  font-size: inherit;
  line-height: 1.5em;
  margin: 0 .1em 1px .1em;
  min-width: 2em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
}
