html {
  background-attachment: fixed;
  background-color: hsla(348, 100%, 54%, .025);
  background-image:
    linear-gradient(17deg, rgba(255, 20, 67, 0) 66%, rgba(255, 20, 67, .033) calc(66% + 1px)),
    linear-gradient(217deg, rgba(255, 20, 67, 0) 30%, rgba(255, 20, 67, .033) calc(30% + 1px)),
    linear-gradient(97deg, rgba(255, 20, 67, 0) 70%, rgba(255, 20, 67, .033) calc(70% + 1px)),
    linear-gradient(171deg, rgba(255, 20, 67, 0) 70%, rgba(255, 20, 67, .033) calc(70% + 1px)),
    linear-gradient(322deg, rgba(255, 20, 67, 0) 70%, rgba(255, 20, 67, .033) calc(70% + 1px));
}
