html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--base-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

:disabled {
  color: var(--color-disabled);
  cursor: auto;
}
