/* --- Width-constrained container ------------------------------------------ */

.o-layout-container {
  margin: auto;
  max-width: 75rem;
  padding: 0 var(--container-lateral-padding);
  width: 100%;
  
  --container-lateral-padding: 1rem;
}

/* --- Page ----------------------------------------------------------------- */

.o-layout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.o-layout-page__body {
  flex: 1 0 auto;
  padding: 2rem 0;
}

/* --- 1/2 & 2/3 columns ---------------------------------------------------- */

.o-layout-sidebar {
  align-items: start;
  display: block;
  grid-gap: 0 2rem;
  grid-template-columns: [minor] minmax(0, 1fr) [major] minmax(0, 2fr);
  grid-template-rows: min-content;
}

@media (min-width: 50rem) {
  .o-layout-sidebar {
    display: grid;
  }
}

/* --- Distribute spacing fullwidth ----------------------------------------- */

.o-layout-fullwidth {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
