/**
 * @extends o-layout-sidebar
 */

.o-document {
  background-color: #fff;
  border-bottom: 5px solid rgba(255, 20, 67, .5);
  border-radius: 0 0 20px 20px;
  box-shadow: var(--shadow-level-2);
  min-height: 70vh;
  padding: 2rem var(--document-lateral-padding);

  --document-lateral-padding: 1rem;
}

/* TODO: make the header a component */

.o-document > header {
  grid-column: 2;
}

.o-document > header h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.o-document > header a {
  display: block;
  font-weight: 700;
  margin-bottom: .75rem;
}

@media (min-width: 42rem) {
  .o-document {
    --document-lateral-padding: 4rem;
  }
}
