.o-body-text {
  line-height: 1.7;
}

.o-body-text h1:not(:first-of-type) {
  border-top: 2px solid var(--color-control-outline);
  margin: 1.7rem 0 0.75rem 0;
  padding: 1.5em 0 0 0;
}

.o-body-text h2 {
  margin: 0;
  padding: 1.5em 0 0.75em 0;
}

.o-body-text h3 {
  margin: 0;
  padding-top: 0.5rem;
}

.o-body-text p {
  margin: 1.7em 0;
  position: relative;
}

.o-body-text p::after {
  clear: both;
  content: '';
  display: block;
}

.o-body-text > p:first-child {
  margin-top: 0;
}

.o-body-text ol,
.o-body-text ul {
  counter-reset: list;
  margin: 1rem 0;
  position: relative;
}

.o-body-text ol {
  counter-reset: list;
}

.o-body-text li {
  margin: 1rem 0 0 3rem;
  position: relative;
}

.o-body-text ol li::before {
  align-items: center;
  background-color: var(--color-control-outline);
  border-radius: 10rem;
  content: counter(list);
  counter-increment: list;
  display: inline-flex;
  height: 1.5em;
  justify-content: center;
  left: -2.5rem;
  margin-right: -1.5rem;
  position: relative;
  width: 1.5em;
}

.o-body-text ul li::before {
  background-color: var(--color-control-outline);
  border-radius: 10rem;
  content: "";
  display: block;
  height: 0.5em;
  left: -1.5rem;
  position: absolute;
  top: 0.626em;
  width: 0.5em;
}

.o-body-text blockquote li::before {
  background-color: var(--color-brand-contrast);
}

.o-body-text img {
  background-color: var(--color-background);
  border: var(--image-border-width) solid var(--color-control-outline);
  box-shadow: var(--shadow-level-1);
  box-sizing: content-box;
  display: block;
  float: right;
  margin: 1rem 0;
  max-width: calc(100% - var(--image-border-width) * 2);
  transition: max-width var(--duration-medium) ease-in-out;

  --image-border-width: 1px;
}

.o-body-text img:hover {
  max-width: calc(100vw - var(--document-lateral-padding) * 2 - var(--container-lateral-padding) * 2 - var(--image-border-width) * 2);
}

.o-body-text table th {
  text-align: left;
}

.o-body-text table td,
.o-body-text table th {
  border-bottom: 1px solid var(--color-control-outline);
  padding: 0.5rem 1rem;
  word-break: normal;
}
