@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

:root {
  --base-font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  --heading-font-family: Raleway, Arial, sans-serif;
  --monospace-font-family: Consolas, Monaco, monospace;

  --duration-quick: .15s;
  --duration-medium: .4s;
  --duration-slow: 1s;

  --stacking-global-modal: 3000;
  --stacking-global-overlay: 2000;
  --stacking-local-overlay: 1000;

  --shadow-level-1: 0 0.125rem 0.25rem rgba(0, 0, 0, .05);
  --shadow-level-2: 0 0.25rem 0.5rem rgba(0, 0, 0, .1);
}
