:root {
  --color-background: hsl(195, 67%, 99%);
  --color-content-background: hsl(0, 0%, 100%);
  --color-text: hsl(210, 11%, 15%);

  --color-brand: hsl(348, 100%, 54%);
  --color-brand-active: hsla(348, 100%, 54%, 0.8);

  --color-brand-contrast: hsl(206, 32%, 21%);
  --color-brand-contrast-active: hsla(148, 74%, 93%, 0.8);
  --color-brand-contrast-invert: hsl(148, 74%, 93%);

  --color-action: hsl(199, 58%, 90%);

  --color-danger: hsla(348, 100%, 54%, 0.15);
  --color-danger-text: hsl(348, 100%, 54%);

  --color-warning: hsl(25, 83%, 94%);
  --color-warning-text: hsl(25, 8%, 25%);

  --color-control-outline: hsl(0, 0%, 87%);
  --color-disabled: hsla(210, 11%, 15%, 0.616);
  --color-disabled-background: hsl(0, 0%, 98%);
}
