environment: "playground"
flux_folder: "playground"
# cluster_type: "playground"
cluster_type: "development"
subscription_shortname: "s941"
location: "northeurope"
developers: ["bed2b667-ceec-4377-83f7-46888ed23887"] # AZ PIM OMNIA RADIX Cluster Admin - dev
secondary_location: "westeurope"
zoneconfig:
  RADIX_API_REQUIRE_APP_CONFIGURATION_ITEM: "false"
  RADIX_API_REQUIRE_APP_AD_GROUPS: "false"
  APP_REGISTRATION_NETWORKPOLICY_CANARY: "ar-radix-networkpolicy-canary"
  
backend:
  resource_group_name: "s941-tfstate"
  storage_account_name: "s941radixinfra"
  container_name: "infrastructure"
  subscription_id: "16ede44b-1f74-40a5-b428-46cca9a5741b"
  tenant_id: "3aa4a235-b6e2-48d5-9195-7fcf05b459b0"
  ip_key_vault_id: "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/common-playground/providers/Microsoft.KeyVault/vaults/radix-keyv-playground"
  terraform_storage_id: "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/s941-tfstate/providers/Microsoft.Storage/storageAccounts/s941radixinfra"
networksets:
  networkset1:
    vnet: "10.5.0.0"
    ingressIP:  "20.223.26.208"
    istioIP:    "20.223.26.210"
    egress:
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-001"
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-002"
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-003"
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-004"
  networkset2:
    vnet: "10.6.0.0"
    ingressIP: "20.223.26.209"
    istioIP:    "20.223.26.211"
    egress:
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-005"
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-006"
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-007"
      - "/subscriptions/16ede44b-1f74-40a5-b428-46cca9a5741b/resourceGroups/clusters-playground/providers/Microsoft.Network/publicIPAddresses/pip-radix-aks-playground-northeurope-008"
clusters:
  playground-29:
    aksversion: "1.32.5"
    networkset: "networkset1"
    network_policy: "cilium"
    dns_prefix: "playground-clusters-playgro-16ede4"
    dns_wildcard: nginx # Options: "nginx" or "istio"
    activecluster: true
