name: start-cluster
on:
  schedule:
    - cron: '0 5 * * 1-5' #utc time

permissions:
  id-token: write
  contents: read
jobs: 
  start-dev-clusters:
    runs-on: ubuntu-latest
    environment: operations
    steps:
    - uses: actions/checkout@v2 #Clone Repo
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Start clusters
      run: RADIX_ZONE_ENV=./scripts/radix-zone/radix_zone_dev.env TASK=start .github/workflows/scripts/dailytasks.sh
