name: stop-cluster
on:
  schedule:
    - cron: '0 16 * * 1-5'      #etc time
    - cron: '0 18 * * 1-5'      #etc time
permissions:
  id-token: write
  contents: read
jobs: 
  stop-dev-clusters:
    runs-on: ubuntu-latest
    environment: operations
    steps:
    - uses: actions/checkout@v2 #Clone Repo
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Stop clusters
      run: RADIX_ZONE_ENV=./scripts/radix-zone/radix_zone_dev.env TASK=stop .github/workflows/scripts/dailytasks.sh
